# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.pnpm-store/
*.pnpm-debug.log*

# Diagnostic reports (https://nodejs.org/api/report.html)
.report/

# Runtime data
.next/
dist/
dist-ssr/
*.local

# Dependencies
node_modules/
jspm_packages/

# TypeScript cache
*.tsbuildinfo

# Optional npm cache files
.npm/

# Optional eslint cache
.eslintcache

# dotenv environment variables file
.env
.env.local
.env.*.local

# Vite-specific build output
/dist

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.bak

# macOS specific files
.DS_Store

# Thumbnails
.thumbnails

# Temp files
*.tmp
*~