# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.pnpm-store/

# Dependency directories
node_modules/

# Vite-specific build output
/dist

# Editor directories and files
.idea/
.vscode/
*.suo
*.user
*.userosscache
*.sln.docstates

# OS-specific files
.DS_Store
Thumbs.db

# Environment variables
.env
.env.local
.env.*.local

# Temp files
*.tmp